{% extends 'registration/registration_base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="lr_head">
            <div class="col-12">
                <h1>Change Password</h1>
                <a href="{% url 'user_login' %}"><i class="fas fa-chevron-left"></i>Login</a>
            </div>
        </div>
    </div>
    <div class="alert alert-success" role="alert">
        Your password has been set. You may go ahead and log in now.
    </div>
    <div class="form-group">
        <a href="{% url 'user_login' %}" class="btn btn-primary w-100" role="button">Login</a>
    </div>
{% endblock content %}