{% extends 'registration/registration_base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="lr_head">
            <div class="col-12">
                <h1>Change Password</h1>
                <a href="{% url 'profile' %}"><i class="fas fa-chevron-left"></i>Back to profile</a>
            </div>
        </div>
    </div>
    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you
        typed it in correctly.</p>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <br>
                <div class="alert alert-warning" role="alert">
                    {{ form.old_password.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <br>
                <div class="alert alert-warning" role="alert">
                    {{ form.new_password1.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <br>
                <div class="alert alert-warning" role="alert">
                    {{ form.new_password2.errors }}
                </div>
            {% endif %}
        </div>
        {% include 'utils/messages.html' %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Change Password</button>
        </div>
    </form>
{% endblock content %}