{% extends 'registration/registration_base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="lr_head">
            <div class="col-12">
                <h1>Reset Password</h1>
                <a href="{% url 'user_login' %}"><i class="fas fa-chevron-left"></i>Login</a>
            </div>
        </div>
    </div>
    <h5>Forgot password?</h5>
    <p>Enter your registered email address here , we'll send you an email with a link to reset your password</p>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email }}
        </div>
        {% include 'utils/messages.html' %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </div>
    </form>
{% endblock content %}