{% load static %}
<div class="modal fade" id="change_plan_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h5 class="modal-title">Change Plan</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="default_row">
                    <div class="text-center">
                        <img src="{% static "system/img/change_plan.svg" %}" alt="Change Plan">
                        <h5>{{ job.name }}</h5>
                    </div>
                    <form action="">
                        <div class="form-group">
                            <select id="change_plan_select_input" class="form-control">
                                {% for plan in plans %}
                                    <option {% if plan.id == job.render_plan.id %}selected{% else %}{% endif %} value="{{ plan.id }}">{{ plan.display_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" onclick="request_change_plan('{{ job.name }}');" >Change Plan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>