{% load static %}
<div class="box help">
    <div class="head">
        <div class="title">
            <img src="{% static "system/img/help.svg" %}" alt="Help">
            <h4>Need help?</h4>
        </div>
    </div>
    <div class="box_content">
        <ul>
            <li>
                <a href="https://www.rendershot.net/rendershot-workflow-manual/" target="_blank">Workflow Manual </a>
            </li>
            <li>
                <a href="https://www.rendershot.net/rendershare-manual/" target="_blank">RenderShare Manual</a>
            </li>
            <li>
                <a href="https://www.rendershot.net/calculator/" target="_blank">Pricing</a>
            </li>
        </ul>
    </div>
</div>